<form {{on "submit" this.handleSubmit}}>
    <label>
        <p>Username</p>
        <Input @type="text" @value={{this.username}} />
    </label>
    <br />
    <label>
        <p>Password</p>
        <Input @type="password" @value={{this.password}} />
    </label>
    <br /><br />
    <button type="submit">Login</button>

    {{#if (eq this.loginStt 0) }}
    {{else if (eq this.loginStt 1) }}
    <p class="status" id="sign-in-success">Login success !!!</p>
    {{else}}
    <p class="status" id="sign-in-fail">Login failed !!!</p>
    {{/if}}
</form>